* {
    box-sizing: border-box;
    font-family: Helvetica Neue;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: 0.5px;
    color: #c7c7c7;
    outline: none;
}
::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #df860a;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
html {
    background: #282a2c;
}
body {
    margin: 0;
    overflow: hidden;
}
button {
    position: fixed;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    height: 60px;
    top: 0;
    z-index: 1000;

    background: #282a2c;
    color: #62a4ae;

    font-family: Helvetica Neue;
    font-weight: 300;
    font-size: 0.7em;
}
button.playing-message {
  font-size: 0.85em;
  letter-spacing: 0;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    width: 250px;
    max-height: 400px;
    overflow: hidden;
}
ul:hover {
    overflow-y: overlay;
    overflow-x: hidden;
}
li {
    position: relative;
    width: 250px;
    padding: 10px 15px;
    margin-right: -4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    font-size: 0.8em;
}
li:hover {
    background-color: #df860a;
}
li:first-child {
    margin-top: 60px;
}
li.current {
    color: #df860a;
    padding-left: 25px;
}
li.current:hover {
    cursor: default;
    background-color: transparent;
}
li.current::before {
    content: " ";
    position: absolute;
    width: 6px;
    height: 36px;
    background: #df860a;
    left: 0px;
    margin-top: -10px;
}
